/* !! General Styles */
div.sketch-window {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sketch {
  aspect-ratio: 1 / 1;
  height: 75%;
}

div[data-row] {
  height: 6.25%;
  border: 1px solid grey;
  display: flex;
}

div[data-column] {
  aspect-ratio: 1 / 1;
  border: 1px dotted blue;
}
