/* !! General Styles */
footer {
  text-align: center;
}

/* !! Class, Id, and Typed Styles */
div.sketch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cell-container {
  display: flex;
  flex-direction: column;
}

div.sketch {
  aspect-ratio: 1 / 1;
  border: 3px solid lightcoral;
  display: flex;
  flex-wrap: wrap;
}

div.cell.drawn {
  background-color: black;
}

div.menu {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

div.cell-container {
  display: flex;
}

div.row {
  display: flex;
}
